{% extends 'AdminConsoleBundle::page_list.html.twig' %}
{% block searchContent %}
{{ form_row(searchForm.name) }}
{% endblock %}
{% block tableHeader %}
	<th>组名</th>
	<th>用户组标识</th>
	<th>权限</th>
	<th>用户数</th>
{% endblock %}
{% block tableBody %}
	{% for role in results %}
		<tr>
			<td> <input type="checkbox" name="ids[]"  value="{{ role.id }}" /> </td>
			<td>{{ role.name }}</td>
			<td>{{ role.role }}</td>
			<td>{{ role.mask| printUserMask }}</td>
			<td>{{ role.users|length }}</td>
            <td class="text-right">
            <a href="">编辑</a>
            </td>
		</tr>
	{% endfor %}
{% endblock %}
{% block tableAction %}
<button type="button" href="{{ path('admin_roles_delete') }}" class="btn btn-default" target="selectedTodo" action="delete" method="DELETE">批量删除！</button>
{% endblock %}