{% extends 'AdminConsoleBundle::page_dialog_edit.html.twig' %}
{% block formContent %}
<div class="form-group">
	<label class="col-sm-2 control-label" for="settings_systemname">系统名称</label>
	<div class="col-sm-10">
		<input type="text" id="settings_systemname" name="settings[systemname]" required="required" class="form-control form-control" placeholder="系统名称" label="系统名称" value="{% if settings.systemname is defined %}{{ settings.systemname }}{% endif %}">
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="settings_logo">LOGO</label>
	<div class="col-sm-10">
		<input type="file" id="settings_logo" name="attachment" class="file form-control form-control" placeholder="系统LOGO" label="系统LOGO" uploadUrl="{{ path('admin_file_upload') }}">
		<input type="hidden" name="settings[logo]" value="{% if settings.logo is defined %}{{ settings.logo }}{% endif %}" />
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="settings_logo">登陆背景</label>
	<div class="col-sm-10">
		<input type="file" id="settings_logo" name="attachment" class="file form-control form-control" placeholder="登陆背景" label="登陆背景" uploadUrl="{{ path('admin_file_upload') }}">
		<input type="hidden" name="settings[loginBackground]" value="{% if settings.loginBackground is defined %}{{ settings.loginBackground }}{% endif %}" />
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="settings_copyright">版权信息</label>
	<div class="col-sm-10">
		<input type="text" id="settings_copyright" name="settings[copyright]" required="required" class="form-control form-control" placeholder="版权信息" label="版权信息" value="{% if settings.copyright is defined %}{{ settings.copyright }}{% endif %}">
	</div>
</div>
<div class="divider"></div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="settings_enable_protection">客户保护</label>
	<div class="col-sm-10">
		<input type="checkbox" name="settings[enable_protection]" id="settings_enable_protection" {% if settings.enable_protection is defined %}checked="checked"{% endif %} value="1" />
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="settings_client_maxprotection">保护期限</label>
	<div class="col-sm-10">
		<input type="text" id="settings_client_maxprotection" name="settings[maxprotection]" required="required" class="form-control form-control" placeholder="客户保护最大时间期限" label="客户保护最大时间期限" value="{% if settings.maxprotection is defined %}{{ settings.maxprotection }}{% endif %}">
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" for="settings_client_maxpcounts">保护数量</label>
	<div class="col-sm-10">
		<input type="text" id="settings_client_maxpcounts" name="settings[maxpcounts]" required="required" class="form-control form-control" placeholder="一个人最多可以保护客户的最大数量" label="客户保护最大时间期限" value="{% if settings.maxpcounts is defined %}{{ settings.maxpcounts }}{% endif %}">
	</div>
</div>
{% endblock %}