{% extends 'AdminConsoleBundle::page_edit.html.twig' %}
{% block formContent %}
  <div class="form-group">
    {{ form_label(form.username,'用户名') }}
    {{ form_widget(form.username ) }}
  </div>
  <div class="form-group">
    {{ form_label(form.nickname,'昵称') }}
    {{ form_widget(form.nickname) }}
  </div>
  <div class="form-group">
    {{ form_label(form.password,'密码') }}
    {{ form_widget(form.password) }}
  </div>
  <div class="form-group">
  </div>
  <div class="form-group">
    {{ form_label(form.email,'邮箱') }}
    {{ form_widget(form.email) }}
  </div>
  <div class="form-group">
    {{ form_label(form.expireTime,'过期时间') }}
    {{ form_widget(form.expireTime) }}
  </div>
  <div class="checkbox">
    <label>
      {{ form_widget(form.isActive) }} 默认激活
    </label>
  </div>
{% endblock %}