{% extends 'AdminConsoleBundle::page.html.twig' %}
{% block pageContent %}
<script type="text/javascript">
	var bringBackCallback = function(args){
		var saveUrl = "{{ path('admin_acls_privileges_save') }}?to=";
		$.ajax({
			type: 'POST',
			url: "{{ path('admin_acls_privileges') }}",
			data: args,
			cache: false,
			success: function(response){
				var data = response.data;
				CONSOLE.hideLoading();
				//绑定数据
				if( data.type == 'user' ){
					var $parent = $("#home");
					saveUrl += args.username;
					$.checkbox.unSelectAll("names[]", $parent);
					$.each(data.privileges,function(){
						$("#route_"+this.name, $parent).attr("checked",true);
						$("#route_"+this.name, $parent).prop("checked",true);
					});
					$parent.find('[target=selectedTodo]').attr('href',saveUrl);
				}
				else{
					var $parent = $("#profile");
					saveUrl += args.groupname;
					$.checkbox.unSelectAll("names[]", $parent);
					$.each(data.privileges,function(){
						$("route_"+this.name, $parent).attr("checked",true);
						$("route_"+this.name, $parent).prop("checked",true);
					});
					$parent.find('[target=selectedTodo]').attr('href',saveUrl);
				}
			},
			beforeSend: function(){
				CONSOLE.showLoading();
			},
			error: CONSOLE.ajaxError,
			timeout: CONSOLE.ajaxTimeout,
			statusCode: {
				503: function(xhr, ajaxOptions, thrownError) {
					alert(CONSOLE.msg("statusCode_503") || thrownError);
				}
			}
		});
	};

</script>
<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	为 <strong>用户或者用户</strong>
	组设置可以访问的页面，只有设置的页面才能访问！
</div>
<div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#home" aria-controls="home" role="tab" data-toggle="tab">用户权限</a>
		</li>
		<li role="presentation">
			<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">用户组权限</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="home">

			<div class="margin-top clearfix">
				<div class="searchForm pull-left">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" id="user.username" lookupgroup="user" name="username" required="required" class="disabled ipt form-control" placeholder="ID、用户名、昵称" label="ID、用户名、昵称" disabled></div>
						<a class="btn btn-default" id="btnSearch" lookupgroup="user" href="{{ path('admin_users_index', {action:'lookup'}) }}">选择用户</a>
					</form>
				</div>
			</div>
			<div class="topbar-nav-col clearfix margin-top">
				{% for k,routes in routes %}
				<!-- ngRepeat: category in col -->
				<div class="topbar-nav-item">
					<p class="topbar-nav-item-title ng-binding">{{ k }}</p>
					<ul>
						{% for r in routes %}
						<!-- ngRepeat: product in category.products -->
						<li>
							<a href="javascript:void(0);" for="route_{{ r.name }}" data-toggle="tooltip" data-placement="right" title="{{ r.options.description }}">
								<input type="checkbox" value="{{ r.name }}" name="names[]" id="route_{{ r.name }}" />
								<span class="topbar-nav-item-icon icon-ecs"></span>
								<span class="ng-binding">{{ r.options.name }}</span>
								<span class="topbar-nav-item-short ng-binding"></span>
							</a>
						</li>
						{% endfor %}
					</ul>
					<!-- ngIf: $index < col.length -1 -->
					<div class="topbar-nav-gap ng-scope" ng-if="$index < col.length -1"></div>
					<!-- end ngIf: $index < col.length -1 --></div>
				{% endfor %}
				<!-- end ngRepeat: category in col -->
			</div>
			<button class="btn btn-primary pull-right" target="selectedTodo" reload="false" action="user" group="names[]">保存用户权限</button>
		</div>
		<div role="tabpanel" class="tab-pane" id="profile">
			<div class="margin-top clearfix">
				<div class="searchForm pull-left">
					<form class="form-inline">
						<div class="form-group">
							<input type="text" id="group.groupname" lookupgroup="group" name="groupname" required="required" class="form-control ipt disabled" placeholder="组名" label="组名" disabled=""></div>
						<a class="btn btn-default" lookupgroup="group" href="{{ path('admin_roles_index',{action:'lookup'}) }}" id="btnGroupSearch">选择用户组</a>
					</form>
				</div>
			</div>
			<div class="topbar-nav-col clearfix margin-top">
				{% for k,routes in routes %}
				<!-- ngRepeat: category in col -->
				<div class="topbar-nav-item">
					<p class="topbar-nav-item-title ng-binding">{{ k }}</p>
					<ul>
						{% for r in routes %}
						<!-- ngRepeat: product in category.products -->
						<li>
							<a href="javascript:void(0);" for="route_{{ r.name }}" data-toggle="tooltip" data-placement="right" title="{{ r.options.description }}">
								<input type="checkbox" value="{{ r.name }}" name="names[]" id="route_{{ r.name }}" />
								<span class="topbar-nav-item-icon icon-ecs"></span>
								<span class="ng-binding">{{ r.options.name }}</span>
								<span class="topbar-nav-item-short ng-binding"></span>
							</a>
						</li>
						{% endfor %}
					</ul>
					<!-- ngIf: $index < col.length -1 -->
					<div class="topbar-nav-gap ng-scope" ng-if="$index < col.length -1"></div>
					<!-- end ngIf: $index < col.length -1 --></div>
				{% endfor %}
				<!-- end ngRepeat: category in col -->
			</div>
			<button class="btn btn-primary pull-right" target="selectedTodo" reload="false" action="group" group="names[]">保存用户组权限</button>
		</div>
	</div>

</div>
{% endblock %}